In [59]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import string
import ssl

In [60]:
df_infos = pd.read_csv("../datasets/data.csv", sep= ",", usecols= ["Links", "Title"])
df_article = pd.read_csv("../datasets/data_article.csv", sep= ",", usecols= ["Article"])
df_infos.head()

,Links,Title
0,http://recel-blog.com/kirmizi-baslikli-madame/,Kırmızı Başlıklı Madame
1,http://recel-blog.com/koyu-sevenler-el-kaldirsin/,Köyü Sevenler El Kaldırsın
2,http://recel-blog.com/digerlerine-adim-atmak/,Diğerlerine Adım Atmak
3,http://recel-blog.com/devredilen-annelik/,Devredilen Annelik
4,http://recel-blog.com/guclu-olmaya-neden-ihtiy...,Güçlü Olmaya Neden İhtiyacımız Var?

In [61]:
df_infos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 664 entries, 0 to 663
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Links   664 non-null    object
 1   Title   664 non-null    object
dtypes: object(2)
memory usage: 10.5+ KB

In [62]:
df_article.isnull().sum()

Article    606
dtype: int64

In [63]:
df_article.dropna(inplace= True)

In [64]:
df_article.head()

                                             Article
0  Konuk Yazar: gökçeGörsel: Bu görsel AI yardımı...
2  Bir süredir Paris’teyim, bir süre daha Paris’t...
3  Arada bu mesele aklımı kurcalasa da üstünde ço...
4  Bir de başka hikâyelere bakalım. Göçmenlerin, ...
5  Geçenlerde arkadaşım bir tesettür firmasının r...

In [65]:
df_article["Article"] = df_article["Article"].apply(lambda x: str(x))

In [66]:
# Tüm harfleri küçük harfe çevirme
df_article["Article"] = df_article["Article"].apply(lambda x: x.lower())

In [67]:
## Stopwords'lerin silinmesi
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
ssl._create_default_https_context = ssl._create_unverified_context
nltk.download("stopwords")
sw = stopwords.words("turkish")
# Stopword listesinde yer almayan ancak tek başına bir anlam ifade etmeyen kelimelerin manuel olarak listeden çıkartılması
my_sw = ["bir", "iki", "olarak", "kadar", "var", "böyle", "olduğu", "bunun", "mi"]
sw += my_sw
df_article["Article"] = df_article["Article"].apply(lambda x: " ".join(x for x in x.split() if x  not in sw))

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/mehmetbuyukgumus/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [68]:
# Tüm satırları birleştirim makaleleri tek bir değişkende toplama
combained_text = " ".join(df_article["Article"])

In [69]:
clean_text = combained_text.translate(str.maketrans(" ", " ", string.punctuation.replace("'", "") + '“”‘’'))

In [82]:
# Makalelerde yer alan kelimeleri saydırma
from collections import Counter
words = word_tokenize(clean_text)
word_count = Counter(words)
chart_word_list = word_count.most_common(20)
chart_word_list = pd.DataFrame(chart_word_list, columns= ["Kelimeler", "Sayılar"])
chart_word_list

      Kelimeler  Sayılar
0           ben     1595
1         kadın     1469
2   insanlardan     1356
3         köyde     1349
4           yok     1309
5         değil     1064
6         insan     1021
7         sonra     1011
8         hatta      986
9         ancak      986
10         eden      969
11        benim      919
12         olan      903
13        kendi      851
14     mücadele      831
15   olmadığını      807
16      sanırım      803
17         ayrı      789
18        kolay      782
19      başladı      780